.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  font-size: 23px;
  margin-top: 5px;
  text-shadow: 1px 1px 2px black;
  color: rgb(6, 6, 75);
}

.number {
  list-style: none;
  cursor: pointer;
}