.home {
  background-image: url(../../img/BackCountries.png);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}