.home {
  background-image: url(../../img/BackCountries.png);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filtros {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.az {
  margin: 10px 20px 2px 20px;
}

.continentes {
  margin: 10px 20px 2px 20px;
}

.poblacion {
  margin: 10px 20px 2px 20px;
}

.bfiltro {
  margin: 10px 20px 2px 0px;
}