.country {
  display: flex;
  width: 230px;
  height: 230px;
  border: 2px solid rgba(6, 6, 75);
  margin: 7px 10px 10px 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 10px 5px 5px rgba(18, 3, 150, 0.747);
  border-radius: 15px;
  font-family:Tahoma;
}